@charset "UTF-8";

@import url("https://fonts.googleapis.com/css?family=Raleway:300,400");

* {
  box-sizing: border-box; /* Size take into account border, paddging... */
  color: #777;
  font-family: Raleway;
}

html, body {
  margin: 0;
}

.container {
  margin: 0 2em;
}

.header-container {
  display: flex;
  align-items: top;
  justify-content: space-between;
}

.header{
  background-image: url("imgs/background.jpeg");
  background-color: rgba(128,128,128,0.7);
  background-blend-mode: multiply;  
  background-size: cover;
  background-position: 50%;
  height: 250px;
  margin: auto;
}

.band-name{
  display: block;
}

.menu {
  font-size: 24px;
}

.menu ul {
  padding-left: 0;
}

.menu li {
  display: inline-block;
}

.menu a {
  text-decoration: none;
  padding: .5em;
}

.menu a:hover {
  background-color: rgba(255,255,255,.3);
}

.main-container {
  min-height: 400px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.about {
  position: relative;
}

.integrantes {
  margin-top: 2em;
}

.integrantes ul {
  padding-left: 0;
}

li {
  list-style-type: none;
}

#photo-members {
  float: left;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  margin: 10px 30px 20px 0;
}

.footer {
  background: linear-gradient(to left, #822322, #620b06cf);
  padding: 0.25em 1em;
}

.footer-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-container ul {
  flex-grow: 1;
  text-align: end;
}

.footer-links li {
  display: inline-block;
  padding: 0.5em;
}

.footer-links img {
  height: 25px;
  width: 25px;
}

.btn {
  text-align: center;
  vertical-align: middle;
  padding: .59em;
  cursor: pointer;
}

.btn-last-music {

}

.btn-last-music:hover {

}

.btn-main {
  color: white;
  background-color: #56CCF2;
  border: none;
  border-radius: .3em;
  font-weight: bold;
}

.btn-gig {
  max-width: 42%;
}

table {
  border-collapse:collapse;
  width: 85%;
}

th, td {
  border-bottom: 1px solid black;
  padding: 1em 0;
  text-align: center;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:last-child > td {
  border: none;
}

.shop-section {
  margin: 20px 0;
}

.shop-header {
  margin: 0;
  text-align: center;
  font-size: 2.5em;
}

.shop-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.shop-item {
    margin: 30px;
}

.shop-item-title {
    text-align: center;
    font-size: 1.5em;
    color: #333;
    margin-bottom: 15px;
}

.shop-item-img {
    height: 250px;
}

.shop-item-details {
    display: flex;
    align-items: center;
    padding: 5px;
}

.shop-item-price {
    flex-grow: 1;
    color: #333;
}