@charset "UTF-8";

@import url("https://fonts.googleapis.com/css?family=Raleway:300,400");

*{
  box-sizing: border-box; /* Size take into account border, paddging... */
  color: #777;
  font-family: Raleway;
}

.cabecera{
  background-image: url("imgs/background.jpeg");
  background-color: rgba(128,128,128,0.7);
  background-blend-mode: multiply;  
  background-size: cover;
  background-position: 50%;
  height: 300px;
  margin: auto;
}

.nombre-banda{
  float: right;
  margin-right: 35px;
  display: block;
}

.menu {
  font-size: 24px;
  float: left;
}

.menu li {
  display: inline-block;
  margin-left: 15px;
}

.menu a {
  text-decoration: none;
  padding: .5em;
}

.menu a:hover {
  background-color: rgba(255,255,255,.3);
}

.contenedor {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 2em;
}

.about {
  margin: 2em;
  position: relative;
}

.integrantes {
  margin-top: 2em;
}

.integrantes ul {
  padding-left: 0;
}

.integrantes li {
  list-style-type: none;
}

#photo-members {
  float: left;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  margin: 10px 30px 20px 0;
}